


   
            {%  if task.id %}

<div  id="task-{{ task.id }}" class="min-w-[260px] bg-surface-dark border border-border-dark rounded-lg p-3.5 hover:border-primary/40 hover:shadow-[0_4px_20px_-4px_rgba(244,37,106,0.15)] transition-all duration-300 group snap-start flex flex-col gap-2 relative cursor-pointer">
<div class="flex justify-between items-start">
    

<button class="text-text-muted hover:text-white transition-colors opacity-0 group-hover:opacity-100">
<span class="material-symbols-outlined text-[18px]">more_horiz</span>
</button>
</div>
<h4 class="text-sm font-medium text-white leading-snug line-clamp-2">{{ task.title }}</h4>
<div class="mt-auto pt-3 flex items-center justify-between">

<button class="flex items-center gap-1.5 text-[10px] font-bold text-white bg-[#2a2a2a] hover:bg-primary border border-white/5 hover:border-primary/50 px-2.5 py-1.5 rounded-md transition-all shadow-sm group/btn" 
hx-get="{% url 'schedule_task' task.id %}" 
hx-vals='{"date": "{{ day|date:"Y-m-d" }}"}'
 hx-target="body"
hx-swap="beforeend">
<span class="material-symbols-outlined text-[14px]">calendar_add_on</span>
                    Schedule
                </button>
</div>
</div>
{% endif %}

  







