@import "tailwindcss";


/* input.css */

@theme {

 --color-deep-black: #0d0d0d;
  --color-neon-pink: #ff00ff;

  --color-surface: color-mix(in srgb, var(--color-deep-black) 90%, #ffffff);
  --color-accent: var(--color-neon-pink);

  --radius-lg: 1rem;
  --radius-xl: 1.5rem;

  --shadow-glow: 0 0 20px var(--color-neon-pink / 0.5);
  

}

